  <h1>Experiment View for <%= experiment.id %></h1>
  <h2>Current Experiment Group and Values</h2>
  <form method="get" action="/experiment/<%= experiment.id %>/edit">
    <input type="hidden" name="name" value="<%#= experiment.name %>">
    <input type="submit" value="Edit" />
  </form>
  <ul>
    <li class="experiment">
      <p><a href="/experiment/<%= experiment.id %>"><%= experiment.name %></a></p>
      <p>Type: <%= experiment.type %> </p>
    </li>
  </ul>