<div class="hero-unit">
  <h1>
    <%= experiment.name %>
  </h1>
  <span class="<%= experiment.type%>"><%= experiment.type%></span>
  <p class="description"><%= experiment.description %></p>
</div>
  <p>
    <a href="/experiment/<%= experiment.id %>/edit" class="btn btn-primary">Edit Experiment</a>
    <a href="/experiment/<%= experiment.id %>/delete" class="btn btn-danger">Delete Experiment</a>
  </p>
  <p>Utility Function: <%= experiment.utility_function_string %></p>
<h2>Groups</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Split %</th>
      <th># Runs</th>
      <th>Avg Utility</th>
      <% for v in experiment.utility_function_variables %>
        <th><%= v %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% for group_name in experiment.groups.keys.sort %>
      <tr>
        <td>
          <%= group_name %>
        </td>
        <td>
          <%= experiment.group_split_weights[group_name] %>
        </td>
        <td>
          <%= experiment.plays[group_name] %> participants
        </td>
        <td>
          <%= experiment.utility(group_name).inspect %> utils
        </td>
        <% for v in experiment.utility_function_variables %>
          <td>
            <%= experiment.event_totals[group_name][v] %> total
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @has_chart_info %>
<table id="time_chart_info" class="table table-bordered">
  <thead>
    <tr>
      <th>dates</th>
      <% for group_name in experiment.groups.keys.sort %>
      <th>plays_<%= group_name %></th>
      <th>utilities_<%= group_name %></th>
      <% if experiment.type =~ /ucb1/i %>
      <th>confidences_<%= group_name %></th>
      <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% for ix in @chart_sample_count.times.to_a %>
    <tr>
      <td><%= @date_row[ix].to_s %></td>
      <% for group_name in experiment.groups.keys.sort %>
      <td><%= @plays_rows[group_name][ix] %></td>
      <td><%= @utilities_rows[group_name][ix] %></td>
      <% if experiment.type =~ /ucb1/i %>
      <td><%= @confidences_rows[group_name][ix] %></td>
      <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<script>
var stats = {};
<% for group_name in experiment.groups.keys.sort %>
  <% for v in experiment.utility_function_variables %>
  stats['<%= group_name %>'] = <%= experiment.event_totals[group_name][v] %>
  <% end %>
<% end %>
console.log(stats)

</script>