<h1><%= experiment.name %></h1>
<a href="/experiment/<%= experiment.id %>/edit">Edit</a>
<a href="/experiment/<%= experiment.id %>/delete">Delete</a>
<p class="description"><%= experiment.description %></p>
<p>Type: <%= experiment.type %></p>
<p>Utility Function: <%= experiment.utility_function_string %></p>
<h2>Groups</h2>
<table>
<thead>
<tr>
  <th>Group Name</th>
  <th>Split %</th>
  <th># Runs</th>
  <th>Avg Utility</th>
  <% for v in experiment.utility_function_variables %>
    <th><%= v %></th>
  <% end %>
</tr>
</thead>
<tbody>
<% for group_name in experiment.groups.keys.sort %>
<tr>
  <td style="text-align:  left; border: 1px solid black;">
    <%= group_name %>
  </td>
  <td style="text-align: right; border: 1px solid black;">
    <%= experiment.group_split_weights[group_name] %>
  </td>
  <td style="text-align: right; border: 1px solid black;">
    <%= experiment.plays[group_name] %> participants
  </td>
  <td style="text-align: right; border: 1px solid black;">
    <%= experiment.utility(group_name).inspect %> utils
  </td>
  <% for v in experiment.utility_function_variables %>
    <td style="text-align: right; border: 1px solid black;">
      <%= experiment.event_totals[group_name][v] %> total
    </td>
  <% end %>
</tr>
<% end %>
</tbody>
</table>
