<%
  experiments = []
  $experimoto.mutex.synchronize do
    $experimoto.db_sync(:already_locked => true)
    $experimoto.experiments.keys.sort.each do |k|
      experiments << $experimoto.experiments[k]
    end
  end
%>
<!doctype html>
<head>
  <script src="/js/jquery-1.6.2.js"></script>
  <script src="/js/d3.v2.min.js"></script>
  <script src="/js/d3.layout.js"></script>
  <script src="/js/rickshaw.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/rickshaw.min.css" />
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="/">List Experiments</a></li>
      <li><a href="/new/univariate">Create New Experiment (Univariate)</a></li>
      <li><a href="/new/multivariate">Create New Experiment (Multivariate)</a></li>
    </ul>
  </div>
</div>
<div class="experiment-nav">
  <h1>Experiments</h1>
  <ol>
  <% for experiment in experiments.find_all { |e| !e.is_view? } %>
    <li class="experiment">
      <a href="/experiment/<%= experiment.id %>"><%= experiment.name %></a>
    </li>
  <% end %>
  </ol>
  <h2>Experiment Views</h2>
  <ol>
    <% for view in experiments.find_all { |e| e.is_view? } %>
    <li class="view">
      <%= view.name %> <br />
      View into <%= "#{view.target_experiment_name}#{view.json_lookup_index ? '['+view.json_lookup_index.to_s+']' : ''}" %>
    </li>
    <% end %>
  </ol>
</div>
<div class="body">
  <%= yield %>
</div>
</body>
</html>
