<html>
<head></head>
<body>
  <h1>List of Current experiments</h1>
  <ol>
    <% for experiment in experiments.find_all { |e| !e.is_view? } %>
    <li class="experiment">
      <%= experiment.name %> <br />
      <%= experiment.type %> <br />
      <form method="post" action="./experiment_edit">
	<input type="hidden" name="name" value="<%= experiment.name %>">
	<input type="submit" value="Edit" />
      </form>
    </li>
    <% end %>
  </ol>
  <h2>Experiment Views</h2>
  <ol>
    <% for view in experiments.find_all { |e| e.is_view? } %>
    <li class="view">
      <%= view.name %> <br />
      View into <%= "#{view.target_experiment_name}#{view.json_lookup_index ? '['+view.json_lookup_index.to_s+']' : ''}" %> <br />
      <form method="post" action="./view_edit">
	<input type="hidden" name="name" value="<%= view.name %>">
	<input type="submit" value="Edit" />
      </form>
    </li>
    <% end %>
  </ol>
</body>
</html>
