  <h1>Experiments</h1>
  <button onclick="javascript:document.getElementById('new-experiment-options').style.display='block';">Create New Experiment</button>
  <div id="new-experiment-options" style="display: none;">
    <a href="./new/univariate">New Univariate Experiment</a><br />
    <a href="./new/multivariate">New Multivariate Experiment</a><br />
    <a href="#" onclick="document.getElementById('new-experiment-options').style.display='none';">cancel</a>
  </div>
  <ol>
    <% for experiment in experiments.find_all { |e| !e.is_view? } %>
    <li class="experiment">
      <p><a href="/experiment/<%= experiment.id %>"><%= experiment.name %></a></p>
      <p>Type: <%= experiment.type %></p>
      <p>ID: <%= experiment.id %></p>
      <p>Description: <%= experiment.description %></p>
      <form method="get" action="/experiment/<%= experiment.id %>/edit">
  <input type="hidden" name="name" value="<%= experiment.name %>">
  <input type="submit" value="Edit" />
      </form>
    </li>
    <% end %>
  </ol>
  <h2>Experiment Views</h2>
  <ol>
    <% for view in experiments.find_all { |e| e.is_view? } %>
    <li class="view">
      <%= view.name %> <br />
      View into <%= "#{view.target_experiment_name}#{view.json_lookup_index ? '['+view.json_lookup_index.to_s+']' : ''}" %> <br />
      <form method="post" action="./view_edit">
  <input type="hidden" name="name" value="<%= view.name %>">
  <input type="submit" value="Edit" />
      </form>
    </li>
    <% end %>
  </ol>